<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:decorate template="template.xhtml">
        <ui:define name="centro">
            <p:growl id="growl" life="5000" />
			<f:metadata>
				<f:event listener="#{alunoBean.carregaAluno}" type="preRenderView"/>
				<f:viewParam name="matricula" value="#{alunoBean.aluno.matricula}"></f:viewParam>
			</f:metadata>

            <h:form id="cadastroForm">
					<h:panelGrid columns="2" id="cadastro">
                    
                   <h:outputLabel for="Matricula" value="Matricula*" style="font-weight:bold;" />
                    <p:inputText id="Matricula" 
                    value="#{alunoBean.aluno.matricula}" 
                    size="12" 
                    placeholder="Matricula"/>
                    
                    <h:outputLabel for="Nome" value="Nome:" style="font-weight:bold" />
                    <p:inputText id="Nome" value="#{alunoBean.aluno.nome}" placeholder="Nome" size="100">
                          <f:validateLength maximum="100" />                  
                    </p:inputText>

                    <h:outputLabel for="Email" value="E-mail:" style="font-weight:bold" />
                    
                    <p:inputText id="Email" 
                    value="#{alunoBean.aluno.email}" 
                    placeholder="E-mail"
                    size="50"/>

                    <h:outputLabel for="Telefone" value="Telefone:" style="font-weight:bold" />
                    <p:inputMask id="Telefone" 
                    value="#{alunoBean.aluno.telefone}"
                    mask="(99) 99999-9999"/>
                 
                    <h:outputLabel for="nota" value="Nota:" style="font-weight:bold" />
                    <p:inputText id="nota" value="#{alunoBean.aluno.nota}">
                                    <f:validateDoubleRange maximum="10" minimum="0"/>
                    </p:inputText>
                    
                    <h:outputLabel for="tituloTrabalho" value="Titulo do trabalho" style="font-weight:bold" />
                    <p:inputText id="tituloTrabalho" value="#{alunoBean.aluno.tituloTrabalho}"/>
                 
                    <p:outputLabel value="Orientador" for="orientador" style="font-weight:bold"/>
        			<p:autoComplete id="orientador" 
        			dropdown="true" 
        			forceSelection="true"
        			value="#{alunoBean.aluno.orientador}" 
        			completeMethod="#{alunoBean.completeProfessor}"
        			var="prof"
        			itemLabel="#{prof.nome}"
        			itemValue="#{prof}"
        			
        			converter="professorConverter"/>
        			
        			 <p:outputLabel value="Banca" for="banca1" style="font-weight:bold"/>
        			<p:autoComplete id="banca1" 
        			dropdown="true" 
        			forceSelection="true"
        			value="#{alunoBean.aluno.professor1}" 
        			completeMethod="#{alunoBean.completeProfessor}"
        			var="prof"
        			itemLabel="#{prof.nome}"
        			itemValue="#{prof}"
        			converter="professorConverter"/>
        			
        			<p:outputLabel value="Banca" for="banca2" style="font-weight:bold"/>
        			
        			<p:autoComplete id="banca2" 
        			dropdown="true" 
        			forceSelection="true"
        			value="#{alunoBean.aluno.professor2}" 
        			completeMethod="#{alunoBean.completeProfessor}"
        			var="prof"
        			itemLabel="#{prof.nome}"
        			itemValue="#{prof}"
        			converter="professorConverter"/>
        			
        			        			 <p:outputLabel value="Banca" for="banca3" style="font-weight:bold"/>
        			
        			<p:autoComplete id="banca3" 
        			dropdown="true" 
        			forceSelection="true"
        			value="#{alunoBean.aluno.professor3}" 
        			completeMethod="#{alunoBean.completeProfessor}"
        			var="prof"
        			itemLabel="#{prof.nome}"
        			itemValue="#{prof}"
        			converter="professorConverter"/>
        			
        			
        		
      			
					    
                    <p:commandButton update="growl" value="Salvar" action="#{alunoBean.salvar}" icon="ui-icon-check"/>

                </h:panelGrid>	
                
            </h:form>
        </ui:define>
    </ui:decorate>
</html>