<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:decorate template="template.xhtml">
        <ui:define name="centro">
            <p:growl id="growl" life="2000" />
            <h:form>
                <h:panelGrid columns="2" cellpadding="5" id="professorCadastro">
                    <h:outputLabel for="Matricula" value="Matricula:" style="font-weight:bold" />
                    <p:inputText id="Matricula" value="#{professorBean.professor.matricula}" />

                    <h:outputLabel for="Nome" value="Nome:" style="font-weight:bold" />
                    <p:inputText id="Nome" value="#{professorBean.professor.nome}" />

                    <p:commandButton update="growl" value="Salvar" actionListener="#{professorBean.salvar}" icon="ui-icon-check"/>
                </h:panelGrid>
            </h:form>
            <h:panelGrid id="dados">
                <h:form>
                    <p:dataTable id="professorTable" editable="true" var="prof"  value="#{professorBean.professores}" sortMode="multiple" selection="#{professorBean.professor}" rowKey="#{prof.matricula}">    

                        <p:ajax event="rowEdit" listener="#{professorBean.onRowEdit}" update="growl" />

                        <p:column selectionMode="single"/>

                        <p:column headerText="Matricula" sortBy="#{prof.matricula}">
                            <h:outputText value="#{prof.matricula}" />
                        </p:column>

                        <p:column headerText="Nome" sortBy="#{prof.nome}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{prof.nome}" /></f:facet>
                                <f:facet name="input"><p:inputText id="modelInput" value="#{prof.nome}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column style="width:32px">
                            <p:rowEditor />
                        </p:column>

                        <f:facet name="footer">
                            <p:commandButton process="professorTable" update="professorTable" icon="ui-icon-search" value="Apagar" actionListener="#{professorBean.apagar}"/>
                        </f:facet>
                    </p:dataTable>
                </h:form>

            </h:panelGrid>
        </ui:define>
    </ui:decorate>
</html>