<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:decorate template="template.xhtml">
        <ui:define name="centro">
            <h2>PAGINA INICIAL</h2>
        </ui:define>
    </ui:decorate>
</html>