<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:decorate template="template.xhtml">
        <ui:define name="centro">
            <p:growl id="growl" life="5000" />
										<h:form>
				
			            <h:panelGrid columns="3">
			
			 <p:outputLabel for="Filtro" value="Lançamento pendente" />
		        <p:selectOneMenu id="Filtro" value="#{processoEstagioBean.filtro}" style="width:300px">
		            <f:selectItem itemLabel="Protocolo" itemValue="1" />
		            <f:selectItem itemLabel="Chegada Coord. SI" itemValue="2" />
		            <f:selectItem itemLabel="Orientador" itemValue="3" />
		            <f:selectItem itemLabel="Recebimento Coord. SI" itemValue="4" />
		            <f:selectItem itemLabel="Envio Coord. Estágio" itemValue="5" />
		            <f:selectItem itemLabel="Finalização do Processo" itemValue="6" />
		            <f:selectItem itemLabel="Todos" itemValue="0" />
		        </p:selectOneMenu>
		            <p:commandButton value="enviar" update="dados" icon="ui-icon-check" actionListener="#{processoEstagioBean.filtrar}"/>
			            </h:panelGrid>
						</h:form>

			
            <h:panelGrid id="dados">
                <h:form id="formTabela">
                    <p:dataTable id="procEstagioTable"
                   	             value="#{processoEstagioBean.processos}" 
                                 selectionMode="single"
                                 selection="#{processoEstagioBean.processo}" 
                                 rowKey="#{process.numero}"
                                 var="process"
                                 rows="10"
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15">  
                                       
                      <p:column selectionMode="single" style="width:30px" />

					<p:column headerText="Processo"
						sortBy="#{process.numero}" style="width:100px">
						<h:outputText value="#{process.numero}" />
					</p:column>

					<p:column headerText="Aluno" sortBy="#{process.aluno.nome}">
						<h:outputText value="#{process.aluno.nome}" />
					</p:column>
					<p:column headerText="Protocolo">
						<h:outputText value="#{process.data1}" >
						<f:convertDateTime pattern="dd/MM/yyyy"/>  
						</h:outputText>
					</p:column>
					<p:column headerText="Chegada Coord. SI">
						<h:outputText value="#{process.data2}" >
						<f:convertDateTime pattern="dd/MM/yyyy"/>  
						</h:outputText>
					</p:column>
					<p:column headerText="Orientador">
						<h:outputText value="#{process.data3}" >
						<f:convertDateTime pattern="dd/MM/yyyy"/>  
						</h:outputText>
					</p:column>
					<p:column headerText="Recebimento Coord. SI">
						<h:outputText value="#{process.data4}" >
						<f:convertDateTime pattern="dd/MM/yyyy"/>  
						</h:outputText>
					</p:column>
					<p:column headerText="Envio Coord. Estágio">
						<h:outputText value="#{process.data5}" >
						<f:convertDateTime pattern="dd/MM/yyyy"/>  
						</h:outputText>
					</p:column>
					<p:column headerText="Finalização do Processo">
						<h:outputText value="#{process.data6}" >
						<f:convertDateTime pattern="dd/MM/yyyy"/>  
						</h:outputText>
					</p:column>
												
					<f:facet name="footer">
						<p:commandButton value="Editar" action="#{processoEstagioBean.editar}" />
					</f:facet>
                    </p:dataTable>
                    
                     
                </h:form>

            </h:panelGrid>
        </ui:define>
    </ui:decorate>
</html>