<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Projeto PWEB - Concluintes</title>
        <style type="text/css">
        </style>
    </h:head>
    <h:body>
        <div align="center">
            <p:layout>
                <p:layoutUnit position="north" size="100">
                    <h3>Projeto Concluintes</h3>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="260" >

                    <h:form>
                        <p:panelMenu>
                            <p:submenu label="Cadastro">
                                <p:menuitem value="Alunos" icon="ui-icon-key"
                                            action="cadastro_alunos?faces-redirect=true"   />
                                <p:menuitem value="Professor" icon="ui-icon-key"
                                            action="cadastro_professor?faces-redirect=true" />
                                
                            </p:submenu>
                            
                            <p:submenu label="Lançamentos">
                                <p:menuitem value="Processos de Estágio" icon="ui-icon-key"
                                            action="lancamento_estagio?faces-redirect=true" />
                                <p:menuitem value="Processos de Conclusão" icon="ui-icon-key"
                                            action="lancamento_conclusao?faces-redirect=true" />
                            </p:submenu>
                            
                            <p:separator/>
                            
                            <p:submenu label="Relatórios">
                                <p:menuitem value="Alunos cadastrados" icon="ui-icon-key"
                                            action="listarAlunos?faces-redirect=true" />
                                <p:menuitem value="Estagio pendencias" icon="ui-icon-key"
                                            action="pendenciasProcessoEstagio?faces-redirect=true" />
                            </p:submenu>
                        </p:panelMenu>
                    </h:form>

                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <ui:insert name="centro">
                        O que estiver aqui será substituido!
                    </ui:insert>
                </p:layoutUnit>
            </p:layout>
        </div>
    </h:body>
</html>
